<nav class="navbar is-fixed-top has-shadow is-unselectable">
	<div class="container is-fluid">
		<div class="navbar-brand">
			<a class="navbar-item logo" href="/#!/">
				<img src="./assets/img/logo.svg" alt="soundti.me">
			</a>
			
			<a class="navbar-item is-hoverable" href="/#!/">
				<span>Soundtime</span>
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field is-grouped">
						<p class="control">
							<a class="button is-primary" ng-click="$ctrl.changeModalStatus()">
								<span class="icon">
									<i class="mdi mdi-24px mdi-upload"></i>
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<!-- TODO: move this somewhere else -->
<div class="modal modal-fx-normal is-unselectable" ng-class="{'is-active': uploadModalIsOpen}">
	<div class="modal-background" ng-click="$ctrl.changeModalStatus()"></div>

	<uploader></uploader>
</div>