<view-title>Home</view-title>

<div>
    <div class="hero is-fullheight-with-navbar is-primary is-bold">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">Soundtime</h1>

                <h2 class="subtitle">A simple music sharing service</h2>

                <div class="buttons">
                    <a class="button" disabled>Version 1.0-rc3.1</a>

                    <a class="button is-link is-hidden-desktop" ng-click="$root.uploadModalIsOpen = true">
                        <span class="icon">
                            <feather icon="upload-cloud"></feather>
                        </span>
                        
                        <span>Upload files</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>