<div>
    <div class="hero is-fullheight-with-navbar is-bold" ng-style="{'background-color': colors.primaryBg, transition: 'color 1500ms'}">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">Soundtime</h1>
                <h2 class="subtitle">A simple music sharing service</h2>

                <div class="buttons">
                    <a class="button" disabled>Version 0.1b</a>
                </div>
            </div>
        </div>
    </div>
</div>