.music-player {
    display: block;
    position: relative;
    width: 360px;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    background: transparent linear-gradient(to bottom, #00000000 50%, #3273dc 400px);
    box-shadow: 0px 5px 10px 0px #00000055;
    transition:.2s;
}

.cover {
    float: left; /* ??? */
    width: 360px;
    height: 360px;
}

.cover img {
    display: block;
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: -1;
    border-radius: 10px 10px 0px 0px;
}

.player-controls {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
}

.play-pause-button {
    position: absolute;
    right: -16px;
    bottom: -16px;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: #00d1b2;
    box-shadow: 0px 6px 12px 0px #00000044;
    transition:.25s;
    z-index: 1;
}

.play-icon {
    height: inherit;
    width: inherit;
}

.play-pause-button:hover {
    height: 68px;
    width: 68px;
    border-radius: 34px;
    right: -18px;
    bottom: -18px;
    box-shadow: 0px 7px 14px 0px #00000044;
    transition:.2s;
}

#seek-bar {
    background-color: #ffffff55;
    height: 10px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    padding-right: 42px;
    transition:.2s;
}

#seek-bar:hover {
    filter: brightness(110%);
    transition:.25s;
}

#seek-value {
    background-color: #00d1b2;
    display: block;
    height: inherit;
    width: inherit;
    transition:.2s;
}

#current-time {
    position: absolute;
    left: 24px;
    bottom: 24px;
}

#duration-time {
    position: absolute;
    right: 64px;
    bottom: 24px;
}