.music-player {
    display: block;
    position: relative;
    width: 400px;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    background: transparent linear-gradient(to bottom, #00000000 65%, #f06564ff 400px);
    box-shadow: 0px 5px 10px 0px #00000055;
}

.cover {
    float: left; /* ??? */
    width: 400px;
    height: 400px;
}

.cover img {
    display: block;
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: -1;
    border-radius: 10px 10px 0px 0px;
}

.track-info {
    position: relative;
    top: -54px;
    left: 36px;
    width: fit-content;
}

#track-title {
    font-size: 36px;
    font-weight: bold;
}

#track-artist {
    font-size: 18px;
    margin-top: -6px;
}

.player-controls {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
}

.play-button {
    position: absolute;
    right: -16px;
    bottom: -16px;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: red;
    box-shadow: 0px 2px 4px 0px #00000077;
    transition:.25s;
}

.play-icon {
    height: inherit;
    width: inherit;
}

.play-button:hover {
    height: 66px;
    width: 66px;
    right: -18px;
    bottom: -15px;
    box-shadow: 0px 4px 8px 0px #00000044;
    transition:.25s;
}

#seek-bar {
    background-color: #ffffff55;
    height: 10px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    padding-right: 42px;
}

#seek-value {
    background-color: cyan;
    display: block;
    height: inherit;
    width: inherit;
    transition:.25s;
}

#seek-value:hover {
    filter: brightness(80%);
    transition:.25s;
}

#current-time {
    position: absolute;
    left: 24px;
    bottom: 24px;
}

#duration-time {
    position: absolute;
    right: 64px;
    bottom: 24px;
}