@charset "utf-8";
@import "~bulma/bulma";

//$primary: #00d1b2; // This is the same as the default

// Custom scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $grey-light;
}

::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}

body {
	font-family: 'Lexend Deca', sans-serif;
}

// Loading spinner
.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner:after {
	animation: changeContent .8s linear infinite;
	content: "⠋";
}

@keyframes changeContent {
	10% { content: "⠙"; }
	20% { content: "⠹"; }
	30% { content: "⠸"; }
	40% { content: "⠼"; }
	50% { content: "⠴"; }
	60% { content: "⠦"; }
	70% { content: "⠧"; }
	80% { content: "⠇"; }
	90% { content: "⠏"; }
}