@charset "utf-8";
@import "~bulma/bulma";

//$primary: #00d1b2; // This is the same as the default

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey-light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $grey-dark;
}