@charset "utf-8";
@import "~bulma/bulma";

//$primary: #00d1b2; // This is the same as the default

// Custom scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $grey-light;
}

::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}