<view-title>{{trackInfoService.pendingRequest ? 
                "Waiting" : trackInfoService.trackDetails.tags.title ? 
                    trackInfoService.trackDetails.tags.title + ' by ' + trackInfoService.trackDetails.tags.artist : trackInfoService.trackDetails.filename}}</view-title>

<div class="hero-body">
    <div class="container has-text-centered columns is-centered is-vcentered is-multiline">
        <div class="column is-5-dekstop" ng-hide="trackInfoService.error">
            <player class="hero-body" tags="trackInfoService.trackDetails.tags" preview-source="trackInfoService.trackDetails.preview"></player>
        </div>

        <div class="column is-5-dekstop">
            <div class="has-text-centered">
                <div class="content is-small">
                    <h2 ng-hide="trackInfoService.error">File details</h2>

                    <div class="spinner is-medium" ng-show="trackInfoService.pendingRequest && trackInfoService.error == undefined"></div>

                    <div ng-hide="trackInfoService.pendingRequest || trackInfoService.error != undefined">
                        <div>
                            <b>Name:</b> {{trackInfoService.trackDetails.filename}}
                        </div>
                        
                        <div>
                            <b>Size:</b> {{trackInfoService.trackDetails.size | fileSizeFilter}}
                        </div>
                        
                        <div>
                            <b>Type:</b> {{trackInfoService.trackDetails.fileType}}
                        </div>
                        
                        <div>
                            <b>Upload date:</b> {{trackInfoService.trackDetails.uploadDate}}
                        </div>
                    </div>

                    <div class="is-size-3 has-text-danger" ng-show="trackInfoService.error">
                        <b>Error, this file does not exist</b>
                    </div>
                </div>

                <br>

                <button class="button has-text-centered is-primary" ng-hide="trackInfoService.error" ng-click="$ctrl.downloadTrack()" ng-class="{'is-success': downloadStarted, 'is-danger': errorDuringRequest}" >

                    <span class="icon">
                        <i class="mdi mdi-24px mdi-download" ng-if="!(waitingForDownload || downloadStarted)"></i>
                        
                        <i class="mdi mdi-24px mdi-check" ng-if="downloadStarted"></i>

                        <i class="mdi mdi-24px mdi-alert-circle" ng-if="errorDuringRequest"></i>

                        <div class="spinner" ng-if="waitingForDownload && !downloadStarted"></div>
                    </span>

                    <span>
                        Download
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>