<div class="container is-fluid" ng-style="playing ? {'background-color': colors.accentStrong, transition: 'color 1500ms'} : {transition: 'color 1500ms'}">
    <div class="columns is-desktop is-centered is-vcentered is-multiline">
        <div class="column is-one-third-desktop">
            <p class="image">
                <img color-watch src="./assets/img/enemy.png">
                    <!-- <div class="square" style="background-color: #8e5741;">
                        <div class="line" style="background-color: #d4b4a4;"></div>
                        <div class="line" style="background-color: #e3cec4;"></div>
                        <div class="line" style="background-color: #d3b2a2;"></div>
                    </div> -->
                </img>
            </p>
        </div>
        
        <!-- <div class="column is-three-fifths-desktop">
            <div class="title">Title</div>
            
            <div class="subtitle">Artist - Album</div>

            <span class="is-pulled-left">Seek: {{seek}}</span>

            <span class="is-pulled-right">Duration: {{duration}}</span>

            <progress class="progress is-small is-primary" value=".15" max="1"></progress>

            <div class="has-text-centered">
                <button class="button is-primary is-large is-rounded" ng-show="!playing" ng-click="$ctrl.playTrack()">
                    <span class="icon is-large">
                        <i class="mdi mdi-48px mdi-play"></i>
                    </span>
                </button>

                <button class="button is-primary is-large is-rounded" ng-show="playing" ng-click="$ctrl.pauseTrack()">
                    <span class="icon is-large">
                        <i class="mdi mdi-48px mdi-pause"></i>
                    </span>
                </button>
            </div>
        </div> -->
    </div>

    <div class="content is-small has-text-centered">
        <audio controls>
            <source src="https://upload.wikimedia.org/wikipedia/it/c/c2/Codice_Giustiniano.ogg" type="audio/ogg">
                <!-- TODO: FETCH THE AUDIO LINK AND PUT IT UP HERE ^^^ -->
        </audio>

        <h2>File details</h2>

        <div ng-hide="trackInfoService.pendingRequest || trackInfoService.error != undefined">
            <div>
                <b>Name:</b> {{trackInfoService.trackDetails.filename}}
            </div>
            
            <div>
                <b>Size:</b> {{trackInfoService.trackDetails.size}} B
            </div>
            
            <div>
                <b>Type:</b> {{trackInfoService.trackDetails.fileType}}
            </div>
            
            <div>
                <b>Upload date:</b> {{trackInfoService.trackDetails.uploadDate}}
            </div>
        </div>
    </div>

    <br>

    <div class="has-text-centered" ng-style="primaryFg">
        <button class="button is-primary">
            <span class="icon">
                <i class="mdi mdi-24px mdi-download"></i>
            </span>
            <span>
                Download
            </span>
        </button>
    </div>
</div>