@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

.dnd-dropzone {
    border: dashed;
    border-width: 6px;
    border-radius: 6px;
    border-color: $grey-light;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        color: $link;
    	transition: 0.25s;
    }
}

.msl-drag-over {
    color: $info;
}

.table tbody td {
    vertical-align: middle;
}