<section class="uploader hero">
	<div class="hero dnd-dropzone" msl-file-input="fileSelectionHandler" msl-dnd-folder-input="fileSelectionHandler">
		<input type="file" multiple="" style="display: none;">

		<div class="hero-body has-text-centered">
			<div class="icon is-large">
				<i class="mdi mdi-48px mdi-upload"></i>
			</div>

			<div>Drag files here or click to select files</div>
		</div>
	</div>

	<table class="table is-fullwidth" ng-show="files.length > 0">
		<thead>
			<tr>
				<th>Filename</th>

				<th>Type</th>
				
				<th>Size</th>
				
				<!-- Just padding to add the action buttons below -->
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody ng-repeat="file in files">
			<tr ng-class="{'has-text-danger': !file.type.includes('audio')}">
				<td>{{file.name}}</td>

				<td>{{file.type}}</td>

				<td>{{file.size | fileSizeFilter}}</td>

				<td>
					<a class="button" ng-if="file.type.includes('audio')" 
							ng-click="!(file.isUploading || file.isUploaded) ? $ctrl.uploadFile($index) : undefined">
						<span class="icon" ng-if="!file.isUploading && !file.isUploaded">
							<i class="mdi mdi-24px mdi-upload"></i>
						</span>

						<span class="icon" ng-class="{'has-text-success	': file.isUploaded}" ng-if="file.isUploaded">
							<i class="mdi mdi-24px mdi-check"></i>
						</span>

						<div class="spinner" ng-if="file.isUploading"></div>
					</a>
				</td>
				
				<td>
					<a class="button" ng-click="$ctrl.removeFile($index)" ng-if="!file.isUploading && !file.isUploaded">
						<span class="icon">
							<i class="mdi mdi-24px mdi-close"></i>
						</span>
					</a>

					<a class="button" ng-click="$ctrl.getLink($index)" ng-if="file.isUploaded && file.fileId != undefined">
						<span class="icon">
							<i class="mdi mdi-24px mdi-content-copy"></i>
						</span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>