@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

.dnd-dropzone {
    border: dashed;
    border-width: 1px;
    border-radius: 0.5em;

    &:hover {
        color: $link;
    }
}

.msl-drag-over {
    color: $link;
}

.table tbody td {
    vertical-align: middle;
}